
<!--==============================Content=================================-->

<!--==============================footer=================================-->
		<footer>
			<div class="container_12">
				<div class="grid_12">
					<div class="socials">
						<a href="https://www.facebook.com/TopLastminute.ro" class="fa fa-facebook" target="_blank"></a>
					</div>
					<div class="copy">
						Top Lastminute (c) 2015 
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>