
<!--==============================slider=================================-->	
		<div class="slider_wrapper">
			<div id="camera_wrap" class="">
				<div data-src="images/zakynthos.jpg" alt="zakynthos"> <!--user input image with paperclip-->
					<div class="caption fadeIn">
						<h2>In Curand</h2><!--user input destination, number of nights, using devise forms-->
						<div class="price">
							<span>Cele Mai Bune Oferte</span><!--user input price, using devise forms-->
						</div>
						<div class="extra_wrapper">
							<p> 2016</p><!--user input-->
						</div>	
					</div>		 	
				</div>
				<div data-src="images/zakynthos.jpg" alt="zakynthos">
					<div class="caption fadeIn">
						<h2>Bla test</h>
						<div class="price">
							<span>Cele Mai Bune Oferte</span>
						</div>
						<div class="extra_wrapper">
							<p> 2016</p>
						</div>	
					</div>		 	
				</div>	
			</div>
		</div>
		
<!--==============================Content=================================-->



